body, html{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}


.app {
  text-align: center;
  min-width: 1000px;
}

.appHeader {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 50px;
  color: #B4BDBF;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding: 0 20%;
}

.gamesList {
  margin-top: 50px;
}

.gameItem {
  display: inline-block;
  width: 184px;
  margin: 15px;
  animation: showing 1s;
}

@keyframes showing {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
