.inputField {
    display: flex;
    margin-bottom: 15px;
}

.inputFieldError {
    color: red;
    text-align: left;
}

.mainInput {
    font-size: 26px;
    padding: 1em;
    border: 1px solid #ebebeb;
    width: 100%;
}

.mainInput:focus {
    outline: none;
}

.searchButton {
    display: inline-block;
    border: none;
    padding: 1em;
    margin: 0;
    text-decoration: none;
    border: 1px solid #0069ed;
    background: #0069ed;
    color: #ffffff;
    font-size: 26px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
}

.searchButton:hover,
.searchButton:focus {
    background: #0053ba;
}

.searchButton:focus {
    outline: none;
}

.searchButton:active {
    transform: scale(0.99);
}

.searchButton[disabled] {
    background: rgba(0, 0, 0, .25);
    cursor: default;
    border: 1px solid rgba(0, 0, 0, .25);
}
